@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: "Poppins Regular"; /* 400 */
    src: local("Poppins Regular"),
      url("../public/font/Poppins/Poppins-Regular.ttf") format("ttf");
    font-display: swap;
  }
  @font-face {
    font-family: "Poppins Medium"; /* 500 */
    src: local("Poppins Medium"),
      url("../public/font/Poppins/Poppins-Medium.ttf") format("ttf");
    font-display: swap;
  }
  @font-face {
    font-family: "Inter"; /* 400 */
    src: local("Inter Regular"),
      url("../public/font/Inter/Inter-Regular.ttf") format("ttf");
    font-display: swap;
  }
  @font-face {
    font-family: "Inter"; /* 500 */
    src: local("Inter Medium"),
      url("../public/font/Inter/Inter-Medium.ttf") format("ttf");
    font-display: swap;
  }
  @font-face {
    font-family: "Inter SemiBold"; /* 600 */
    src: local("Inter SemiBold"),
      url("../public/font/Inter/Inter-SemiBold.ttf") format("ttf");
    font-display: swap;
  }
  @font-face {
    font-family: "Inter "; /* 700 */
    src: local("Inter Bold"),
      url("../public/font/Inter/Inter-Bold.ttf") format("ttf");
    font-display: swap;
  }
  @font-face {
    font-family: "SpaceGrotesk Medium"; /* 500 */
    src: local("SpaceGrotesk Medium");
    src: url("../public/font/Space_Grotesk/SpaceGrotesk-Medium.ttf")
      format("ttf");
    font-display: swap;
  }
}

@layer components {
  .overlay {
    @apply bg-textColor/[32%] invisible opacity-0 fixed inset-0 w-full h-full z-10
  }

  .overlay--visible {
    @apply visible opacity-100
  }
  .swiper-pagination-bullet {
    background-color: #FEFEFE !important;
    width: 8px !important;
    height: 8px !important;
    margin: 0 16px !important;
  }

  .swiper-pagination-bullet-active {
    width: 30px !important;
    height: 8px !important;
    border-radius: 50px !important;
  }

  .swiper-button-next,
  .swiper-button-prev {
    width: 52px !important;
    height: 52px !important;
    background-color: #FFFFFF !important; 
    border-radius: 50px !important;
  }

  .swiper-button-prev svg,
  .swiper-button-next svg {
    color: #6C7275 !important;
  }

  .swiper-button-prev::after,
  .swiper-button-next::after {
    display: none !important;
  }

  .shadowBox{
    box-shadow: 0px 8px 16px rgba(15, 15, 15, 0.12)
  }

  .boxStyels {
    @apply py-8 px-4 md:py-9 md:px-5 lg:py-10 lg:px-6 xl:py-12 xl:px-8 bg-seconderyBg w-[152px] xl:w-[262px]
  }

  .boxStyels > h4 {
    @apply font-PoppinsMedium text-sm/[22px] sm:text-base/[23px] lg:text-lg/6 xl:text-xl text-mainText mt-4 mb-2
  }

  .boxStyels > p {
    @apply font-PoppinsRegular text-xs/5 md:text-[13px]/[22px] xl:text-sm/6 text-primaryText
  }

  @media screen and (max-width: 1022px) {
    .newsletter {
      background-color: #F2F4F6;
    }
  }

  @media screen and (min-width: 1024px) {
    .newsletter {
      background-image: url("../public/image/banner/background.png");
      background-size: cover;
      background-repeat: no-repeat;
    }
  }

  @media screen and (max-width: 768px) {
    .boxes{
      @apply flex-wrap gap-y-2 gap-x-6 justify-center
    }
  }

  @media screen and (max-width: 410px) {
    .boxStyels {
      @apply flex-[1_1_auto] flex flex-col items-center
    }
  }

}
@layer utilities {
  .flex-center {
    @apply flex items-center justify-between;
  }
}
