@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: "Poppins Medium"; /* 500 */
    src: local("Poppins Medium"),
      url("../public/font/Poppins/Poppins-Medium.ttf") format("ttf");
    font-display: swap;
  }
  @font-face {
    font-family: "Inter"; /* 400 */
    src: local("Inter Regular"),
      url("../public/font/Inter/Inter-Regular.ttf") format("ttf");
    font-display: swap;
  }
  @font-face {
    font-family: "Inter"; /* 500 */
    src: local("Inter Medium"),
      url("../public/font/Inter/Inter-Medium.ttf") format("ttf");
    font-display: swap;
  }
  @font-face {
    font-family: "Inter SemiBold"; /* 600 */
    src: local("Inter SemiBold"),
      url("../public/font/Inter/Inter-SemiBold.ttf") format("ttf");
    font-display: swap;
  }
  @font-face {
    font-family: "Inter "; /* 700 */
    src: local("Inter Bold"),
      url("../public/font/Inter/Inter-Bold.ttf") format("ttf");
    font-display: swap;
  }
  @font-face {
    font-family: "SpaceGrotesk Medium"; /* 500 */
    src: local("SpaceGrotesk Medium");
    src: url("../public/font/Space_Grotesk/SpaceGrotesk-Medium.ttf")
      format("ttf");
    font-display: swap;
  }
}

@layer components {
  .overlay {
    @apply bg-textColor/[32%] invisible opacity-0 fixed inset-0 w-full h-full z-10
  }

  .overlay--visible {
    @apply visible opacity-100
  }
  .swiper-pagination-bullet {
    background-color: #FEFEFE !important;
    width: 8px !important;
    height: 8px !important;
    margin: 0 16px !important;
  }

  .swiper-pagination-bullet-active {
    width: 30px !important;
    height: 8px !important;
    border-radius: 50px !important;
  }

  .swiper-button-next,
  .swiper-button-prev {
    width: 52px !important;
    height: 52px !important;
    background-color: #FFFFFF !important; 
    border-radius: 50px !important;
  }

  .swiper-button-prev svg,
  .swiper-button-next svg {
    color: #6C7275 !important;
  }

  .swiper-button-prev::after,
  .swiper-button-next::after {
    display: none !important;
  }
}
@layer utilities {
  .flex-center {
    @apply flex items-center justify-between;
  }
}
